backend: mcp
thread_pool_max_workers: 128

mcp:
  transport: stdio
  host: "0.0.0.0"
  port: 8001

http:
  host: "0.0.0.0"
  port: 8002


flow:
  a_stock_realtime_price:
    flow_content: AkshareRealtimePriceOp()

  a_stock_calculate:
    flow_content: AkshareCalculateOp()

  extract_entities_code:
    flow_content: ExtractEntitiesCodeOp()

  dashscope_search:
    flow_content: DashscopeSearchOp()

  tavily_search:
    flow_content: TavilySearchOp()

  crawl_url:
    flow_content: Crawl4aiLongTextOp() >> ExtractLongTextOp()
    description: ""
    input_schema:
      url:
        type: string
        description: "user query"
        required: true

llm:
  default:
    backend: openai_compatible
    model_name: qwen3-30b-a3b-instruct-2507
    params:
      temperature: 0.6

  qwen3_30b_instruct:
    backend: openai_compatible
    model_name: qwen3-30b-a3b-instruct-2507

  qwen3_30b_thinking:
    backend: openai_compatible
    model_name: qwen3-30b-a3b-thinking-2507

  qwen_flash:
    backend: openai_compatible
    model_name: qwen-flash

embedding_model:
  default:
    backend: openai_compatible
    model_name: text-embedding-v4
    params:
      dimensions: 1024
